.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 25%;
  }
  
  .btnEdit,
  .btnDelete {
    cursor: pointer;
  }
  
  
  .table-container {
    max-width: 95%; /* Puedes ajustar este valor según tus necesidades */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si es necesario */
    margin-top: 30px;
  }
  
  .mat-table {
    table-layout: fixed;
    width: 90%;
  }